.header {
  margin-top: 15px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.poster {
  width: 124px;
  height: 124px;
  border-radius: 12px;
  overflow: hidden;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
  }
}

.greeting {
  width: 124px;
  height: 124px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.greeting__phrase {
  font: var(--app-font-display-xs-medium);
  line-height: 15px;
}

.greeting__user {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.greeting__name {
  font: var(--app-font-display-m-semibold);
  line-height: 14px;
}

.greeting__role {
  color: var(--app-txt-secondary);
  font: var(--app-font-display-s-medium);
  line-height: 18px;
}

.languages {
  width: 100%;
  height: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.languages__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.languages__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 11px;
}

.languages__item-name {
  font: var(--app-font-display-xs-medium);
  line-height: 10px;
  flex: 0 0 70px;
}

.languages__item-level {
  display: block;
  border-radius: 3px;
  overflow: hidden;
  width: 100%;
  height: 11px;
  position: relative;
}

.languages__item-level::before {
  content: '';
  position: absolute;
  border-radius: 3px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--app-bg-secondary);
}

.languages__item:last-child .languages__item-level::before {
  width: 80%;
}

@media (max-width: 510px) {
  .header-content {
    flex-wrap: wrap;
    justify-content: center;
  }

  .greeting {
    flex: 1 1 auto;
  }
}
