.main {
  margin-top: 20px;
}

.main-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.experience {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 16px;
}

.experience__joblist {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}

.experience__jobitem {
  padding: 8px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 8px;
  background-color: var(--app-bg-light);
}

.experience__jobitem:first-child {
  background-color: var(--app-bg-secondary);
  color: var(--app-txt-primary-light);
}

.experience__topbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: var(--app-font-display-xxs-medium);
}

.experience__jobitem:first-child .experience__top {
  display: block;
}

.experience__top {
  display: none;
  background-color: var(--app-bg-label);
  padding: 2px 6px;
  border-radius: 60px;
  color: var(--app-txt-label);
}

.experience__content {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 8px;
}

.experience__jobinfo {
  display: flex;
  flex-direction: column;
  flex: 0 0 124px;
}

.experience__role-name {
  font: var(--app-font-display-xs-medium);
  line-height: 15px;
}
.experience__about-job {
  font: var(--app-font-display-xxs-regular);
  line-height: 12px;
  color: var(--app-txt-light);
}

.experience__jobitem:first-child .experience__about-job {
  color: var(--app-txt-secondary-light);
}

.experience__featured-points {
  font: var(--app-font-display-xxs-regular);
  line-height: 12px;
  list-style-type: disc !important;
  padding-left: 10px;
}

.tools {
  flex: 0 0 auto;
}

.tools__content {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.tools__item {
  width: 76px;
  padding: 12px;
  margin: 12px;
  background-color: var(--app-bg-light);
  border-radius: 6px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  grid-gap: 12px 6px;
  position: relative;
}

.tools__item-title {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2px 6px;
  border-radius: 60px;
  background-color: var(--app-bg-dark);
  color: var(--app-bg-light);
  font: var(--app-font-display-3xs-medium);
  white-space: nowrap;
}

.tools__item:last-child {
  margin-bottom: 0;
}

.tools__icon {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 80%;
    height: 80%;
  }
}

@media (max-width: 510px) {
  .main-content {
    flex-direction: column;
  }

  .tools__content {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 15px 10px;
  }

  .tools__item {
    height: fit-content;
    margin: 0;
  }
}
